@media screen and (max-width: 1919px) {
  .container {
    width: 1320px;
  }

  .promo {
    &__splash {
      background: url("../images/media/symbol.png") center center no-repeat;
    }

    &__frame {
      &:nth-child(3) {
        margin-top: 43px;
        margin-bottom: 43px;
        width: 581px;
      }
    }

    &__item {
      width: 400px;
    }
  }

  .team {
    .team__item {
      height: 344px;
    }

    &__image {
      img {
        height: 344px;
      }
    }
  }

  .clients {
    padding-bottom: 0;

    &__item {
      width: 360px;

      &:nth-child(1) {
        border-top-left-radius: 0;
      }

      &:nth-child(4) {
        border-top-right-radius: 0;
      }

      &:nth-child(9) {
        border-bottom-left-radius: 0;
      }

      &:nth-child(12) {
        border-bottom-right-radius: 0;
      }
    }
  }

  .recommended {
    &__item {
      width: 420px;
    }

    &__img {
      img {
        width: 420px;
      }
    }

    &__divider {
      width: 360px;
    }
  }

  .footer {
    &__divider {
      width: 1320px;
    }
  }
}

@media screen and (max-width: 1439px) {
  .container {
    width: 904px;
  }

  .promo {
    &__splash {
      background: url("../images/media/symbol-tablet.png") center center
        no-repeat;
    }

    &__frame {
      &:nth-child(3) {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 405px;
      }
    }

    &__item {
      width: 261px;
    }
  }

  .team {
    .team__item {
      height: 528px;
    }

    &__image {
      img {
        height: 528px;
      }
    }
  }

  .clients {
    &__item {
      width: 256px;
    }
  }

  .recommended {
    &__item {
      width: 281px;
    }

    &__img {
      img {
        width: 281px;
      }
    }

    &__divider {
      width: 221px;
    }
  }

  .footer {
    &__divider {
      width: 904px;
    }
  }
}
