.promo {
  // padding-top: 50px;
  // min-height: 2266px;
  padding-bottom: 60px;
  background: linear-gradient(208deg, #323264 0%, #323264 59.9%, #643e72 100%);
  border-radius: 0 0 12px 12px;

  &__splash {
    background: url("../images/promo/symbol.png") center center no-repeat;
  }

  &__header {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
  }

  &__rightside {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  &__contacts {
    display: flex;
    align-items: center;
    gap: 7px;
  }

  &__language {
    border-radius: 8px;
    padding: 5px 7px;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.08em;
    text-align: center;
    color: $basic-white;
    background-color: transparent;
    border: none;

    &_selected {
      background-color: $accent;
    }
  }

  &__separator {
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: $grey---separator;
  }

  &__street {
    font-weight: 400;
    font-size: 16px;
    text-align: right;
    color: $basic-white;
    text-decoration: none;
  }

  &__phone {
    font-weight: 700;
    font-size: 16px;
    text-align: right;
    color: $basic-white;
    text-decoration: none;
  }

  &__navbar {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
  }

  &__link {
    font-weight: 700;
    font-size: 16px;
    text-align: right;
    color: $basic-white;
    text-decoration: none;
  }

  &__title {
    margin-top: 261px;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    color: $basic-white;
  }

  &__scroll {
    display: block;
    margin: 305px auto 0 auto;
    cursor: pointer;
  }

  &__experience {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 60px;
  }

  &__frame {
    &:nth-child(1) {
      margin-top: 15px;
      margin-bottom: 15px;
      width: 375px;
    }

    &:nth-child(2) {
      width: 4px;
      height: 303px;
      background: rgba(255, 255, 255, 0.3);
    }

    &:nth-child(3) {
      margin-top: 73px;
      margin-bottom: 73px;
      width: 861px;
    }
  }

  &__frame-item {
    margin-top: 30px;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 38px;
    text-align: right;
    color: $grey---text;

    &_active {
      margin: 0;
      background: linear-gradient(298deg, #ef8080 0%, #f0145a 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__subtitle {
    margin: 0;
    font-weight: 700;
    font-size: 30px;
    color: $basic-white;

    &_active {
      margin-top: 10px;
      font-size: 38px;
      background: linear-gradient(298deg, #f0145a 0%, #ef8080 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &_blue {
      margin-top: 30px;
      font-size: 22px;
      color: $active---regular;
    }
  }

  &__description {
    margin-top: 30px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 158%;
    font-size: 19px;
    color: $basic-white;
  }

  &__grid {
    margin-top: 60px;
  }

  &__item {
    margin-top: 60px;
    width: 493px;
  }

  &__services {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: $active---regular;
    text-decoration: none;

    &::after {
      content: url("../icons/arrow.svg");
    }
  }

  &__round {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    width: 92px;
    height: 92px;
    background: $basic-white;
  }

  &__text {
    margin-top: 15px;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    color: $basic-white;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
}
