.facebook-logo {
  width: 25px;
  height: 25px;
}

.scroll {
  display: block;
  margin: 305px auto 0 auto;
  width: 42px;
  height: 42px;
  cursor: pointer;
}

.ecommerce,
.support,
.corporate,
.trust,
.protection,
.court {
  width: 64px;
  height: 64px;
}

.facebook-footer-logo {
  width: 38px;
  height: 38px;
}
