.team {
  margin-top: 60px;
  padding-bottom: 46px;

  &__item {
    display: flex;
    height: 344px;

    &:nth-child(2) {
      margin-top: 60px;
    }

    &:nth-child(3) {
      margin-top: 60px;
    }
  }

  &__description {
    border-radius: 0 12px 12px 0;
    padding: 30px;
    background: $grey---bg-;
  }

  &__link {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: $active---regular;
    text-decoration: none;
  }

  &__text {
    margin-top: 5px;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 38px;
    background: linear-gradient(298deg, #f0145a 0%, #ef8080 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__name {
    margin-top: 30px;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 16px;
    color: $grey---text;
  }

  &__job {
    margin-top: 6px;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 14px;
    color: $grey---text;
  }
}
