@import "modern-normalize";

html {
  font-family: "Montserrat", sans-serif;
}

.container {
  margin: 0 auto;
  width: 91.67%;
}

button {
  cursor: pointer;
}

@import "variables";
@import "promo";
@import "shadow";
@import "team";
@import "slick";
@import "clients";
@import "recommended";
